{{> headP }}

{{> navbar }}
<div class="row">
    <div class="col-sm-8">
     <h1>Lyn Collins </h1>
        <p> About the artis Lyn Collins</p>
    </div>
    <div class="col-sm-4">
        <img src="assets/img/lyncollins.png" class="img-thumbnail">
    </div>

</div>

{{> footer }}